{% extends "base.html" %}
{% load static %}
{% block content %}
<p class="p-5">
    ফিনবাংলা ভয়েস চ্যানেল ফিনল্যান্ডে অভিবাসন, পড়াশোনা, চাকরি অথবা স্থায়ীভাবে বসবাসের আগ্রহী 
    বাংলাদেশীদের জন্য ফিনিশ ভাষা, সমাজ, সংস্কৃতি, পড়াশোনা, চাকরি এবং সামগ্রিক সামাজিক অবস্থার সাথে 
    সম্পর্কিত প্রয়োজনীয় তথ্য প্রদান করবে। এছাড়া, চ্যানেলটি বাংলাদেশের চলমান রাজনৈতিক পরিস্থিতি বিশ্লেষণ, 
    গণতন্ত্র, সুশাসন, রাজনৈতিক উন্নয়ন, মানবাধিকার পরিস্থিতির উন্নয়ন এবং দুর্নীতিমুক্ত নতুন বাংলাদেশের প্রত্যাশা 
    পূরণে গণমানুষের কণ্ঠ হিসেবে কাজ করবে। ফিনবাংলা ভয়েস চ্যানেলটি  দেখুন নিয়মিত এবং সাবস্ক্রাইব করুন।
    
</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}